.swp
.main.c.swp
HWTemple/.vs
HWTemple/Debug
HWTemple/Release
HWTemple/HWTemple/Debug
HWTemple/HWTemple/Release
HWStore/*/*/*/Debug
HWStore/*/*/*/Release
HWStore/*/*/*/*/Debug
HWStore/*/*/*/*/Release
CWStore/*/*/*/.vs
CWStore/*/*/*/Debug
CWStore/*/*/*/Release
CWStore/*/*/*/*/Debug
CWStore/*/*/*/*/Release